body {
    background-color: rgb(4, 51, 41);
    color:white;

}

h1 {
    margin-left: 40%;
}

button {
    background-color: rgb(4, 51, 41);
    color:white;
    font-size: larger;
}

label {
    color: black;
    font-size: larger;
}

button:hover {
    background-color: yellowgreen;
}